body {
    background: #040120;
    color: white;

}

.outer-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hero {
    display: flex;
    gap: 4rem;
    position: relative;
    align-items: center;
}


.img-section img {
    width: 100%;
    height: 100%;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;

    object-fit: cover;
    object-position: center;
    filter: blur(.3);
    /* background: #040120 ; */
    background: #585858;
    box-shadow: 1px 1px 14px 4px orange;
    padding: .4rem;
    border: 2px solid #040120;

}

.profile-img {
    border-radius: 1rem;
}

.icon {
    color: orange;
    align-self: center;
}

.main_button {
    display: block;
    padding-left: 1rem;
    width: fit-content;
    border: 1px solid orange;
    border-radius: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.icon-sm {
    color: white;
    border-radius: 50%;
    background: orange;
    padding: .4rem;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.main_title {
    color: var(--text-accent);
    font-family: 'Bungee Spice', cursive;
    display: flex;
    justify-content: center;
    background: linear-gradient(orange, rgb(255, 6, 47));
    align-items: center;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 1rem;
    display: flex;
    align-items: center;
}

.main_title:hover {
    background: linear-gradient(rgb(172, 155, 2), rgb(255, 6, 47));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.main_subtitle {
    text-align: center;
}

.main_desc {
    padding: 1rem 0;
    text-align: center;

}





/* about section */
.about-section,
.skills-section {
    margin: 3rem 0;

}

.inner-personal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.inner-personal>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h3 {
    padding: 1rem 0;
}

.personal-info h3 {
    padding: 1rem 0;

}

.inner-personal p {
    color: #585858;
    padding: .3rem 0;
}

.inner-personal span {
    color: white;
}

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    border-bottom: 3px solid #585858;
    width: fit-content;
    padding: .3rem;
}

.lang-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-content: space-between;
    padding: 2rem 0;
}

.lang-section div {
    padding: 1rem 0;
}

.lang-section label {
    font-size: .8rem;
}

.lang-section progress {
    display: block;
    padding: .3rem;
}

.lang-section div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang-section iconify-icon {
    padding-right: 1rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin: 2rem 0;
}

.project {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    overflow: hidden;
    padding: 1rem;
    box-shadow: 0 0 10px -3px;
}

.project iframe {
    background: white;
    min-width: 20rem;
    width: 100%;
    min-height: 20rem;
    /* height: 30rem; */
}

.project-title {
    padding: 1rem;
    padding-bottom: 0;

}

.project-desc {
    padding: 1rem;
}

.project-desc a {
    color: green;
}


.icon-link {
    padding: 0 .6rem;
}

.icon-link:hover {
    color: white;
    background: #000;
}

footer {
    padding: 1rem 0;
    margin-top: 2rem;
}

footer>* {
    text-align: center;
}
.icons-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    margin: 1rem;


}



/* media queries */
@media screen and (max-width:1600px) {
    .slide-icons-section {
        right: 6%;
    }
}

@media screen and (max-width:1024px) {
    .container {
        width: 90%;
    }

    .project iframe {
        height: 20rem;
    }

    .slide-icons-section {
        right: 4%;
    }
}

@media screen and (max-width:900px) {
    .hero {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero .main {
        order: -1;
    }

    .hero .img-section {
        justify-self: center;
        align-self: center;
    }

    .container {
        padding: 1rem 0;
    }


    /* about section */
    .inner-personal {
        grid-template-columns: 1fr;


    }

    /* skills section */
    .skills-section .lang-section {
        grid-template-columns: repeat(2, 1fr);

    }

    .skills-section .lang-section div {
        padding: .6rem 0;

    }

    /* projects section */
    .projects-section .projects {
        grid-template-columns: 1fr;
    }

    .project iframe {
        background: white;
        min-width: 20rem;
        width: 100%;
        height: 20rem;
    }


}

@media screen and (max-width:556px) {

    /* skills section */
    .skills-section .lang-section {
        grid-template-columns: 1fr;

    }

    .lang-section>div {
        width: 90%;
        padding: 0 2rem;
    }

    .lang-section label,
    .lang-section progress {
        width: 100%;
    }


    .main_button {
        margin: .3rem;
    }
}